</div>
<!-- administrator wrapper end -->
<!-- administrator footer start -->
<div id="admin_footer">
<!-- コピーライト / 著作権表示 -->
<h1>Copyright©SIOS Technology, Inc. All Rights Reserved</h1>
</div>
<!-- administrator footer end -->
