<!-- administrator header start -->
<div id="admin_header">
	<div id="logo">
		<h1><%= link_to $settings['title'], admin_root_path %>&nbsp;<%= t('adminview') %></h1>
	</div>
	<div id="header_contents">
	<% if admin_current_user != nil %>
	  <%= admin_current_user.title %>
	  <%= link_to t('logout'), {:controller => "login", :action => "destroy",:id=>admin_current_user.id},:data=>{:confirm => t('logout_message')} , :method => :delete %>
	<% end %>
	</div>
</div>
<!-- administrator header end -->
<!-- administrator wrapper start -->
<div id="admin_wrapper">