<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="content">
	This is an administator's view!
</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>