<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="content">
</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>