<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="content">
	<table class="coder">
	    <tr><th>タイトル</th><th>著者</th></tr>
	    <tr><td>銀河鉄道の夜</td><td>宮沢賢治</td></tr>
	</table>    
</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>