<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="admin_content">
<div id="admin_sub_content">
	This is an administator's view!

</div>
</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>