/* ----- HEADER ----- */
#admin_header {
	width:800px;
	height:50px;
	margin: 0 auto;
	background-color:#cd5c5d;
	position:relative;
}
#admin_header a:link    { color: #ffffff; }
#admin_header a:visited { color: #ffffff; }
#admin_header a:hover   { color: #ffffff; }
#admin_header a:active  { color: #ffffff; }

/* FAUX LAYOUT WRAPPER */
#admin_wrapper{
	text-align:left;
	width:800px;
	margin: 0 auto;  
	background:url(background_3.gif) repeat-y; /* WARNING: IF YOU CHANGE THE COLORS OF THE LAYOUT YOU HAVE TO CHANGE THIS IMAGE! */
	overflow:auto; /* USE FIREFOX GUYS! WE ONLY NEED THIS LINE BECAUSE INTERNET EXPLODER ISN'T READING CODE PROPERLY */
	margin-top:5px;
	margin-bottom:5px;
}

/* ----- NAVIGATION ----- */
#admin_navigation {
	width:190px;
	min-height:550px; /* for modern browsers */
	/*height:auto !important; /* for modern browsers */
	height:550px; /* for IE5.x and IE6 */
	background-color:#cd5c5d;
	float:left;
}

/* ----- MAIN CONTENT ----- */
#admin_content {
	margin-left:200px;
	width:600px;
	/*min-height:400px; /* for modern browsers */
	height:auto !important; /* for modern browsers */
	/*height:400px; /* for IE5.x and IE6 */
	/*background-color:#333333;
	/margin-top:10px;*/
	background-color:#ffffff;
}

#admin_content h1 { color: #000000;}
#admin_content h2 { color: #000000;}
#admin_content h3 { color: #000000;}
#admin_content h4 { color: #000000;}

#admin_login {
	width:300px;
	margin:0 auto;
	/*position:absolute;*/
	right:5px;
	bottom: 5px;
}


/* ----- FOOTER ----- */
#admin_footer { 
	margin-top:5px;
	width:800px;
	height:50px;
	margin: 0 auto;
	background-color:#cd5c5d;
	position:relative;
}
#admin_footer h1 {
	font-size:100%;
	font-color: #ffffff;
	position:absolute;
	right:5px;
	bottom: 5px;
}
