/* LINKS AND HEADINGS STYLING */

a { color: #546F92; background: inherit; }
a:hover { color: #808080; background: inherit; }
h1  { font: bold 2em "Trebuchet MS", Helvetica, Sans-Serif; margin: 0; color: #ffffff; background-color:transparent; }
h2  { font: bold 1.4em "Trebuchet MS", Helvetica, Sans-Serif; }
h3 { clear: both; font-size: 1.1em; color: #000; background: #fff url(images/h3bg.gif) no-repeat center left; padding: 0 14px; margin: 0;}
.blue { color: #546F92; background: inherit; }
.image { float: left; border: 2px solid #e2e2e2; padding: 3px; margin: 0 15px 10px 0; }

/* TOP LEFT LOGO */

#logo { 
	float: left; 
	padding: 10px 0 10px 10px; 
}
#logo h1 { color: #ffffff;  }

/* LEFT INTRO SIDE */	

#intro_left {
	clear: left;
	float: left;
	width: 250px;
	background: #8D9CAF url(images/leftintrobg.gif) repeat-x;
	color: #E5EAF2;
	margin: 0 0 1px 0;
}
	#intro_left a { color: #fff; background: inherit; }
	#intro_left p { padding: 14px 15px; margin: 0; }

	/* LEFT VERTICAL MENU */
	
	#menu_left { 
		float: left;  
		margin: 0 0 6px 0; 
		padding: 0 0 1px 0; 
		border-bottom: 2px solid #e2e2e2; 
	}
		#menu_left li { list-style: none; }
		#menu_left li a { 
			display: block; 
			color: #3F5B7F; 
			background: #C2CEDE url(images/arrow.gif) no-repeat center left; 
			width: 204px; 
			padding: 7px 23px 7px 23px; 
			margin: 0 0 1px 0; 
			font-weight: bold; 
			text-decoration: none; 
		}	
		#menu_left li a:hover { background: #9EB1C9 url(images/arrow.gif) no-repeat center left; color: #fff;  }

/* RIGHT INTRO SIDE */
	
#intro_right {
	float: right;
	width: 340px;
	padding: 25px 280px 0 20px;
	background: #BCCEDA url(images/intro.jpg) no-repeat;
	color: #547592;
	margin: 0 0 6px 0;
	height: 174px;
	border: 2px solid #e2e2e2;
}
	#intro_right h1 { margin: 0 0 20px 0; }
	#intro_right .white { color: #FFF; background-color:transparent; }
	
/* LEFT SIDE */
	
#left {
	float: left;
	width: 250px;
}
	.box {
		padding: 4px 15px;
		border: 1px solid #ccc;
		margin: 0 0 10px 0;
	}
	.note {
		padding: 15px 15px 20px 100px;
		border: 1px solid #CFCB66;
		margin: 0 0 5px 0;
		background: #FFFFAD url(images/package.gif) no-repeat;
		color: #585616;
	}

/* RIGHT SIDE */

#right {
	float: right;
	width: 643px;
}

.leftcol { 
	float: left; 
	padding: 12px 15px;
	width: 285px; 
	border:#ccc 1px solid;
	text-align: justify;
	margin: 0 0 10px 0;
}
.rightcol { 
	float: right; 
	padding: 10px 15px;
	width: 285px; 
	border:#ccc 1px solid;
	margin: 0 0 10px 0;
	}
.special {
	clear: both;
	margin:0px 0 20px 0;	
	padding: 5px 20px;
	border: 1px solid #ccc;
	background: #eee;
	color: #444;
}

#success_msg {
	color: #006633;
}
#error_msg {
	color: #FF0000;
}
