body {
width:95%;
margin:0 auto auto auto;
margin-top:10px;
text-align: center;
border-left: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
}

/* ----- HEADER ----- */

#header {
	width:95%;
	height:50px;
	position:relative;
	border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
	/* ----- background: -moz-linear-gradient(white, #787878); ---- */
	/* ----- background: -webkit-gradient(linear, left top, left bottom, from(white), to(#787878)); ---- */
	background-color: #BBBBBB;
	margin-left:25px;
}
#header a:link    { color: #ffffff; }
#header a:visited { color: #ffffff; }
#header a:hover   { color: #ffffff; }
#header a:active  { color: #ffffff; }

#header_contents{
	color:#ffffff;
	position:absolute;
	right:5px;
	bottom: 5px;
}
#header_contents a {text-decoration: none;} 

#login {
	width:350px;
	margin:0 auto auto auto;
}

#login_title{
	text-align: center;
}

#login_action{
	text-align: center;
	padding: 10px 0 0 0;
}

#forgotten_password{
	text-align: center;
	padding: 20px 0 0 0;
}

#wrapper{
	width:100%;
	text-align:left;
	/*background:url(background_3.gif) repeat-y; /* WARNING: IF YOU CHANGE THE COLORS OF THE LAYOUT YOU HAVE TO CHANGE THIS IMAGE! */
	overflow:auto; /* USE FIREFOX GUYS! WE ONLY NEED THIS LINE BECAUSE INTERNET EXPLODER ISN'T READING CODE PROPERLY */
	margin-top:10px;
	margin-bottom:5px;
	margin-left:25px;
}

/* ----- NAVIGATION ----- */
/*
#navigation {
	display: table-cell;
	width:190px;
	background-color:#333333;
}*/
#navigation {
  display: table-cell;
  width:190px;
  border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
  /* ---- background: -moz-linear-gradient(#FEFFFF, #CCFFFF); ---- */
  /* ---- background: -webkit-gradient(linear, left top, left bottom, from(#FEFFFF), to(#CCFFFF)); ---- */
  background-color: #BBBBBB;
  margin-left:25px
}

/* ----- MAIN CONTENT ----- */

#content { 
	display: table-cell;
	background-color:#ffffff;
}

#content h1 { color: #000000;}
#content h2 { color: #000000;}
#content h3 { color: #000000;}
#content h4 { color: #ff0000;}

#sub_content {
	margin-left:20px;
	text-align:left;
}

/* ----- FOOTER ----- */

#footer { 
	margin-top:10px;
	width: 95%;
	height:50px;
	position:relative;
	border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
        /* ----- background: -moz-linear-gradient(#101060, #1A1A1A); ----- */
        /* ----- background: -webkit-gradient(linear, left top, left bottom, from(#101060), to(#1A1A1A)); ---- */
	background-color:#BBBBBB;
	margin-left:25px;
}
#footer h1 {
	font-size:100%;
	font-color: #ffffff;
	position:absolute;
	right:5px;
	bottom: 5px;
}
/* dashboard */
#dashboards {
	overflow: hidden;
}
#dashboard {
  width:350px;
  float:left;
}
.space {
	clear:left;
}
/* ----- ttezuka_test_add ---- */
input[type=submit] {
	border:solid 2px #BBBBBB;
	font-family:Arial, sans-serif;
	text-transform:uppercase;
	color:#000000;
	cursor:pointer;
	border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
}
input[type=submit]:hover {
        border:solid 2px #BBBBBB;
        font-family:Arial, sans-serif;
        text-transform:uppercase;
        color:#000000;
        cursor:pointer;
        border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
}
input[type=submit]:active   {
        border:solid 2px #BBBBBB;
        font-family:Arial, sans-serif;
        text-transform:uppercase;
        color:#000000;
        cursor:pointer;
        border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
background:#EEEEEE;
border:none;
padding:5px 2px;
border:solid 1px #c0c0c0;
color:#999999;
border-radius: 3px 3px 3px 3px / 3px 3px 3px 3px;
}

input[type="text"]:focus,
textarea:focus,
input[type="password"]:focus,
input[type="email"]:focus {
background:#FFFFFF;
border:none;
padding:5px 2px;
border:solid 1px #c0c0c0;
border-radius: 3px 3px 3px 3px / 3px 3px 3px 3px;
color:#000000;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
textarea:hover {
background:#FFFFFF;
border:none;
padding:5px 2px;
border:solid 1px #c0c0c0;
border-radius: 3px 3px 3px 3px / 3px 3px 3px 3px;
color:#000000;
}
