body {
/*width:800px;*/
width:90%
margin:0 auto auto auto;
margin-top:10px;
text-align: center;  
}

/* ----- HEADER ----- */

#header {
	/*width:800px;*/
	height:50px;
	background-color:#333333;
	position:relative;
}
#header a:link    { color: #ffffff; }
#header a:visited { color: #ffffff; }
#header a:hover   { color: #ffffff; }
#header a:active  { color: #ffffff; }

#header_contents{
	color:#ffffff;
	position:absolute;
	right:5px;
	bottom: 5px;
}

#login {
	width:350px;
	margin:0 auto auto auto;
}

#login_action{
	text-align: right;
}

#login_title{
	text-align: left;
}
/* FAUX LAYOUT WRAPPER */

#wrapper{
	/*width:800px;*/
	width:100%;
	text-align:left;
	/*background:url(background_3.gif) repeat-y; /* WARNING: IF YOU CHANGE THE COLORS OF THE LAYOUT YOU HAVE TO CHANGE THIS IMAGE! */
	overflow:auto; /* USE FIREFOX GUYS! WE ONLY NEED THIS LINE BECAUSE INTERNET EXPLODER ISN'T READING CODE PROPERLY */
	margin-top:10px;
	margin-bottom:5px;
}

/* ----- NAVIGATION ----- */

#navigation {
	display: table-cell;
	width:190px;
	background-color:#333333;
}

/* ----- MAIN CONTENT ----- */

#content { 
	display: table-cell;
	background-color:#ffffff;
}

#content h1 { color: #000000;}
#content h2 { color: #000000;}
#content h3 { color: #000000;}
#content h4 { color: #000000;}

#sub_content {
	margin-left:20px;
	text-align:left;
}

/* ----- FOOTER ----- */

#footer { 
	margin-top:5px;
	/*width:800px;*/
	height:50px;
	background-color:#333333;
	position:relative;
}
#footer h1 {
	font-size:100%;
	font-color: #ffffff;
	position:absolute;
	right:5px;
	bottom: 5px;
}
/* dashboard */
#dashboards {
	overflow: hidden;
}
#dashboard {
  width:350px;
  float:left;
}
.space {
	clear:left;
}
