.cds-navi {
  list-style-type: none;
  margin: 0 0 2em
  padding-top: 10px;
  padding: 5px;
}

.cds-navi li { display: inline; }

.cds-navi li a {
  margin-bottom: 1px;
  padding: 5px 0 5px 10px;
  display: block;
  width: 165px;
  text-decoration: none;
  border-left: 5px solid #000000;
  background-color: #eeeeee;
  color: #000000;
}

.cds-navi li a:hover {
  background-color: #999999;
  color: #ff0000;
  border-left: 5px solid #ff0000;
}