<!-- main header start -->
<div id="header">
	<div id="logo">
		<h1><%= t('title') %></h1>
	</div>
	<div id="login">
	<% if current_user != nil %>
	  <%= current_user.title %>
	  <%= link_to t('logout'), {:controller => "login", :action => "destroy",:id=>current_user.id}, :confirm => t('logout_message'), :method => :delete %>
	<% end %>
	</div>
</div><!-- main header end -->
<!-- main wrapper start -->
<div id="wrapper">