<!-- navigation start -->
<div id="navigation">
	<ul class="cds-navi">
		<li<% if params[:controller] == "dashboards" %> class="select"<% end %>><%= link_to(root_path) do %><i class="icon-desktop"></i>&nbsp;<%= t('title_dashboard') %><% end %></li>
		<% current_graph_menu.each do |m| %>
			<li<% if params[:controller] == "graphs" && m.id == @graph.id %> class="select"<% end %>>
				<%= link_to(graph_path(m.id)) do %>
					<% if m.graph_type == 0 then %>
					<i class="icon-picture"></i>
					<% else %>
					<i class="icon-bar-chart"></i>
					<% end %>
					&nbsp;<%= m.title %>
				<% end %>
			</li>
		<% end %>
	</ul>
</div><!-- navigation end -->
