<!-- navigation start -->
<div id="navigation">
	<ul class="cds-navi">
		<li><a href="/"><%= t('title_home') %></a></li>
		<% current_graph_menu.each do |m| %>
			<li><a href="#"><%= m.title %></a></li>
		<% end %>
		<li><a href="/users/<%= current_user.id%>/edit"><%= t('title_setting') %></a></li>
	</ul>
</div><!-- navigation end -->
